BasedOnStyle: WebKit
Language: Cpp
IndentWidth: 2
ContinuationIndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
FixNamespaceComments: true
SpacesBeforeTrailingComments: 2
IncludeBlocks: Regroup
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeParens: ControlStatements
Standard: Cpp11
ColumnLimit: 100
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ReflowComments: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: AfterColon
Cpp11BracedListStyle: true
PointerAlignment: Right
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: false
MaxEmptyLinesToKeep: 2
